<header>
  <div class="header">
    <img class="img" src="./img/icons8-menu.svg">
    <a style="font-family: cursive; font-size: large">Logo</a>
    <div class="search">
      <input type="text" class="search-input text" placeholder="Search by item name"/>
      <select class="text search-select">
        <option selected class="text">All categories</option>
        <option class="text">Option 1</option>
        <option class="text">Option 2</option>
      </select>
    </div>
    <div class="right-side">
      <a href="">
        <img src="../views/img/favorite-24px.svg" style="margin-right: 10px;">
      </a>
      <a href="">
        <img src="../views/img/shopping_cart-24px.svg" style="margin-right: 10px;" >
      </a>
      <a href="" class="text href" style="margin-right: 10px">Login</a>
      <span class="vl"></span>
      <a href="" class="text href">Sign up</a>
    </div>
  </div>
</header>
