<html>
<head>
  <meta charset="UTF-8">
  <title>Certificates</title>
  <link rel="stylesheet" type="text/css" href="style/header.css">
  <link rel="stylesheet" type="text/css" href="../app/common.css">
  <link rel="stylesheet" type="text/css" href="style/certificate-form.css">
</head>
<body>
<!------------------------------------->
<header>
  <div class="header">
    <img class="img" src="../app/shared/header/img/icons8-menu.svg">
    <a style="font-family: cursive; font-size: large">Logo</a>
    <div class="search">
      <input type="text" class="search-input text" placeholder="Search by item name"/>
      <select class="text search-select">
        <option selected class="text">All categories</option>
        <option class="text">Option 1</option>
        <option class="text">Option 2</option>
      </select>
    </div>
    <div class="right-side">
      <a href="">
        <img src="../views/img/favorite-24px.svg" style="margin-right: 10px;">
      </a>
      <a href="">
        <img src="../views/img/shopping_cart-24px.svg" style="margin-right: 10px;" >
      </a>
      <a href="#Login" class="text href" style="margin-right: 10px">Login</a>
      <a class="vl"/>
      <a href="#Sign up" class="text href">Sign up</a>
    </div>
  </div>
</header>
<!------------------------------------->
<div class="main-wrapper">
  <div class="block-left">
    <a class="square"/>
    <a class="text" style="padding-top: 24px;">Item detailed description</a>
    <a class="text">Description Description Description Description Description Description Description Description</a>
  </div>
  <div class="block-right">
    <a class="text">Certificate name</a>
    <a class="text">Description Description Description Description Description Description Description Description</a>
    <a class="text">Time left to buy</a>
    <a class="text">12 days 2 hours</a>
    <div class="block-right-bottom">
      <a>235$</a>
      <a href="">Add to cart</a>
      <img src="../views/img/shopping_cart-24px.svg">
    </div>
  </div>
  </div>
</body>
</html>
