<html>
<head>
  <link rel="import" href="common/header.html">
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="style/header.css">
  <link rel="stylesheet" type="text/css" href="style/login.css">
  <link rel="stylesheet" type="text/css" href="../app/common.css">
</head>
<body>
<!------------------------------------->
<header>
  <div class="header">
      <img class="img" src="../app/shared/header/img/icons8-menu.svg">
      <a style="font-family: cursive; font-size: large">Logo</a>
    <div class="search">
      <input type="text" class="search-input text" placeholder="Search by item name"/>
      <select class="text search-select">
        <option selected class="text">All categories</option>
        <option class="text">Option 1</option>
        <option class="text">Option 2</option>
      </select>
    </div>
    <div class="right-side">
      <a href="">
      <img src="../views/img/favorite-24px.svg" style="margin-right: 10px;">
      </a>
      <a href="">
        <img src="../views/img/shopping_cart-24px.svg" style="margin-right: 10px;" >
      </a>
      <a href="#Login" class="text href" style="margin-right: 10px">Login</a>
      <a class="vl"/>
      <a href="#Sign up" class="text href">Sign up</a>
    </div>
    </div>
</header>
<!------------------------------------->
<div class="login">
  <form class="form">
    <div class="round-wrapper">
      <div class="round">
        <h1 class="h1">Logo</h1>
      </div>
    </div>
    <input class="input text" type="text" name="email" placeholder="Login">
    <input class="input text" name="password" type="text" placeholder="Password">
    <button class="button text" class="text" type="submit">Login</button>
  </form>
</div>
</body>
</html>

