<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
  <link rel="stylesheet" type="text/css" href="style/header.css">
  <link rel="stylesheet" type="text/css" href="../app/common.css">
  <link rel="stylesheet" type="text/css" href="style/register.css">


</head>
<body>
<!------------------------------------->
<header>
  <div class="header">
    <img class="img" src="../app/shared/header/img/icons8-menu.svg">
    <a style="font-family: cursive; font-size: large">Logo</a>
    <div class="search">
      <input type="text" class="search-input text" placeholder="Search by item name"/>
      <select class="text search-select">
        <option selected class="text">All categories</option>
        <option class="text">Option 1</option>
        <option class="text">Option 2</option>
      </select>
    </div>
    <div class="right-side">
      <a href="">
        <img src="../views/img/favorite-24px.svg" style="margin-right: 10px;">
      </a>
      <a href="">
        <img src="../views/img/shopping_cart-24px.svg" style="margin-right: 10px;" >
      </a>
      <a href="#Login" class="text href" style="margin-right: 10px">Login</a>
      <a class="vl"/>
      <a href="#Sign up" class="text href">Sign up</a>
    </div>
  </div>
</header>
<!------------------------------------->
<div class="register-form">
  <div class="register-head-block">
    <a class="text" style="color: #e6ebf1; font-size: x-large;">Register</a>
  </div>
  <form class="input-form">
    <div>
      <div class="input-wrapper">
        <a class="text">Nickname</a>
        <input type="text" class="input">
      </div>
      <div class="input-wrapper">
        <a class="text">First name</a>
        <input type="text" class="input">
      </div>
    </div>
    <div>
      <div class="input-wrapper">
        <a class="text">Password</a>
        <input type="text" class="input">
      </div>
      <div class="input-wrapper">
        <a class="text">Repeat password</a>
        <input type="text" class="input">
      </div>
    </div>
    <div>
      <div class="input-wrapper">
        <a class="text">Email</a>
        <input type="text" class="input">
      </div>
      <div class="input-wrapper">
        <a class="text">Address</a>
        <input type="text" class="input">
      </div>
    </div>
    <div class="button-block-wrapper">
      <button type="submit" class="button text" style="background-color: #fcfcfc; border: 2px solid gray;">Cancel</button>
      <button type="submit" class="button text" style="background-color: #6fd098; color: #e6ebf1; border-color: transparent;">Sign up</button>
    </div>
  </form>
</div>
</body>
</html>
