<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create tag</title>
  <link rel="stylesheet" type="text/css" href="style/header.css">
  <link rel="stylesheet" type="text/css" href="style/tag-creation.css">
  <link rel="stylesheet" type="text/css" href="../app/common.css">
</head>
<body>
<!------------------------------------->
<header>
  <div class="header">
    <img class="img" src="../app/shared/header/img/icons8-menu.svg">
    <a style="font-family: cursive; font-size: large">Logo</a>
    <div class="search">
      <input type="text" class="search-input text" placeholder="Search by item name"/>
      <select class="text search-select">
        <option selected class="text">All categories</option>
        <option class="text">Option 1</option>
        <option class="text">Option 2</option>
      </select>
    </div>
    <div class="right-side">
      <a href="">
        <img src="../views/img/favorite-24px.svg" style="margin-right: 10px;">
      </a>
      <a href="">
        <img src="../views/img/shopping_cart-24px.svg" style="margin-right: 10px;">
      </a>
      <a href="#Login" class="text href" style="margin-right: 10px">Login</a>
      <a class="vl"/>
      <a href="#Sign up" class="text href">Sign up</a>
    </div>
  </div>
</header>
<!------------------------------------->

<div class="form-head text">
  <a class="text" style="font-size: x-large; color: white">Add new category</a>
</div>
<div>
<div class="input-wrapper">
  <a class="text">Category name</a>
  <input type="text" class="input">
</div>
<div style="padding-left: 16px;">
  <button type="submit" class="button text" style="background-color: #fcfcfc; border: 2px solid gray;">Back</button>
  <button type="submit" class="button text" style="background-color: #6fd098; color: #e6ebf1; border-color: transparent;">Save</button>
</div>
</div>
</body>
</html>
